@import "ui-variables";
@import "ui-mixins";

atom-text-editor[mini],
atom-text-editor[mini]::shadow {

  color: fade(@text-color, 67%);
  padding-left: 9px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);

  // .cursor { border-color: #000; }
  // .selection .region { background-color: rgba(0, 0, 0, .2); }
  // .placeholder-text {
  //   color: lighten(@text-color-subtle, 10%);
  // }

}

atom-text-editor[mini].is-focused,
atom-text-editor[mini].is-focused::shadow {

  color: @text-color;
  // background-color: @input-background-color;
  // border-color: @input-border-color;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.25);

  // .placeholder-text {
  //   color: @text-color-subtle;
  // }
  // .selection .region {
  //   background-color: lighten(@background-color-info, 30%);
  // }

}

.item-views {
  background: transparent !important;
}

atom-text-editor:not([mini]) {
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.1);

  // border-top: 1.5em solid transparent;
  // border-bottom: 1.5em solid transparent;

  &.is-focused {
    box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.25);
  }

  &::shadow {

    .gutter[gutter-name=linter] {
      margin-left: -1em;
    }

    // .scroll-view .lines,
    // .gutter-container .line-numbers {
    //   margin: 1.5em 0;
    // }

    // .scroll-view:before,
    // // .gutter-container:before
    // {
    //   content: '';
    //   position: relative;
    //   display: block;
    //   height: 1.5em; width: 100%;
    // }
    //
    // .scroll-view:after,
    // // .gutter-container:before
    // {
    //   content: '';
    //   position: relative;
    //   display: block;
    //   height: 1.5em; width: 100%;
    // }

  }
}
