@import "ui-mixins";
@import "ui-variables";
@import "buttons";

atom-pane-container {
  atom-pane {
    margin-right:18px;
  }
}

atom-pane {
  .pane-item {
    background: #fff;
    box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.1);
  }

  &.active {
    .pane-item {
      box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.25);
    }
  }
}
