@import "ui-mixins";
@import "ui-variables";
@import "buttons";

atom-panel,
.tool-panel {

  .text(normal);
  position: relative;
  background: transparent !important;

  &.bottom {
    margin-right:18px;
  }

  status-bar {
    height: 36px;

    .flexbox-repaint-hack {
      left: 12px;
      top: 9px;
      padding: 0;
    }
  }
}

.inset-panel {
  position: relative;
}

.panel-heading {
  border-bottom: none;
  padding: @component-padding - 2px @component-padding;

  .btn {
    @bg: lighten(@button-background-color, 10%);
    @hover: lighten(@button-background-color-hover, 10%);
    @selected: lighten(@button-background-color-selected, 10%);
    @text: lighten(@text-color, 10%);
    .btn-background(@bg, @hover, @selected, @button-border-color, @text, @text);
  }
}
