@import "ui-variables";

.tree-view {
	font-size: @font-size;

	.selected:before {
		background: #d0d0d0;
	}
}

.tree-view-resizer {

	margin: 12px 12px 24px 12px;

	.tree-view-resize-handle {
		width: 8px;
	}
}

.focusable-panel {
	opacity: 1;

	&:focus {
		.selected:before {
			background: @background-color-selected;
		}
	}
}
