@import "ui-variables";

.tree-view {
	font-size: @font-size;

	.selected:before {
		left: 12px;
		background: fade(#fff, 50%);
	}

	&.full-menu {
		padding: 12px 0 12px 12px;
	}

	.list-item {
		height: 24px;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.directory:not(.status-ignored) {
		.list-item {
			&.header {
				.name {
					font-weight:bold;
				}
			}
		}
	}
}

.tree-view-resizer {
	.tree-view-resize-handle {
		width: 8px;
	}
}

.focusable-panel {
	opacity: 1;
}
